/*
Colors used:
Primary Color (DarkBlue): #096D94;
Secondary Color (Black): #000000;
Contrast Color (DarkGrey): #A5A5A5;`
Contrast Color (LightGrey): #DDDDDD;
Contrast Color (White): #FFFFFF;
*/
/* Overall Settings */
* {
  box-sizing: border-box;
}

/* Basic Body Settings */
body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  color: #000000;
}

/* Headline Settings */
h1, h2, h3, h4 {
  line-height: 1.6;
  font-family: 'Bebas+Neue', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.55em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

/* Image Settings */
img {
  width: 100%;
}

/* Link Settings */
a {
  color: #096D94;
}

a:visited {
  color: #096D94;
}

a:hover,
a:focus {
  color: #A5A5A5;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}

a:active {
  color: #096D94;
  opacity: 0.8;
}

/* Button Settings */
.button {
  display: inline-block;
  background-color: #096D94;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #096D94;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:hover,
.button:active {
  opacity: 0.8;
  transition: 0.2s;
  text-decoration: none;
}

.button:visited {
  color: #FFFFFF;
}

.button.contact {
  background-color: transparent;
  color: #096D94;
  border: 2px solid #096D94;
}

.disabled {
  display: inline-block;
  background-color: #DDDDDD;
  color: #A5A5A5;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  transition: none;
}

/* Header Settings */
header {
  background-color: #FFFFFF;
  box-shadow: 7px 7px 21px 0px rgba(50, 50, 69, 0.47);
  position: fixed;
  width: 100%;
  z-index: 44;
  padding: 10px 0 4px;
}

.logo {
  max-width: 150px;
}

/* Navigation Settings */
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: bold;
  font-weight: 700;
  color: #096D94;
}

nav>ul>li>a:hover,
nav>ul>li>a:active {
  opacity: 0.8;
  transition: 0.2s;
  color: #A5A5A5;
}

nav>ul>li>a:visited {
  color: #096D94;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* Hero Settings */
#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  text-transform: none;
}

#hero p {
  text-align: center;
  font-size: 20px;
  line-height: 2.4;
}

main {
  padding-top: 80px;
  padding-bottom: 60px;
}

/* Body Settings */
.container {
  padding: 0 15px;
  width: 100%;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 35px;
  border-bottom: 1px solid #A5A5A5;
}

/* Footer Settings */
#contact svg {
  max-width: 40px;
}

#contact a {
  text-decoration: none;
}

footer {
  background-color: #FFFFFF;
}

.bottomfooter {
  margin-bottom: 0px;
}

/* Animation */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation-name: color-change;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud-front {
  animation-name: cloud-move;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud-back {
  animation-name: cloud-move-reverse;
  animation-duration: 34s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Responsiveness */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  main {
    padding-top: 110px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .logo {
    max-width: 200px;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 160px;
  }

  .navtoggle.responsive li {
    display: block;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
    padding-left: 40px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {}

@media only screen and (min-width: 1920px) {}
